* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 10000px;
}

header {
  min-height: 1126px;
  background-color: #aa9a92;
  background: url(../img/bg-header.png) no-repeat top center;
}

/* Главное меню */
.logo {
  margin: 25px 0 0 55px;
}

.humburger {
  display: none;
}

.menu {
  list-style: none;
  text-align: right;
  margin: 45px 65px 0 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

.menu a:hover {
  color: #c7c7c7;
}

.active {
  display: block !important;
}

/* УТП */

.offer {
  text-align: center;
  margin: 160px 0 0 0;
}

.offer h1 {
  font-family: 'Bernadette';
  color: #ffffff;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -1.85px;
}

.offer h3 {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.61px;
  margin: 10px 0 0 0;
  font-size: 37px;
}

.offer p {
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 40px 0 0 0;
}

.offer a {
  display: inline-block;
  color: #090909;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 10px 25px;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  margin: 40px 0 0 0;
  transition: 0.2s;
  border: 1px solid #fff;
}

.offer a:hover {
  color: #ffffff;
  background-color: transparent;
}

/* offer blocks */

.offer-blocks {
  margin: 90px 0 0 0;
}

.offer-block {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  position: relative;
  background-color: #ffffff;
  height: 426px;
}

.offer-block img {
  max-width: 100%;
}

.offer-block h3 {
  margin: 27px 0 0 0;
  color: #363635;
  font-weight: 700;
  letter-spacing: 0.61px;
  font-size: 25px;
}

.offer-block p {
  margin: 30px auto 45px auto;
  color: #0c0c0c;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  max-width: 256px;

}

.btn-gradient {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 10px 25px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #c88043 0%, #465296 100%);
  text-decoration: none;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  transition: 0.2s;
  position: relative;
  bottom: 20px;
}

.btn-gradient:hover {
  color: #c7c7c7;
  text-decoration: none;
}

/* About Us */

.about {
  height: 518px;
  background: url(../img/about-bg.png) no-repeat center;
  margin-top: 120px;
}

.about-text {
  max-width: 400px;
}

.about-text h2 {
  font-family: "Bernadette";
  font-size: 50px;
  letter-spacing: -1.58px;
}

.about-text p {
  font-size: 18px;
  color: #0c0c0c;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin: 30px 0 0px 0;
}

.about-text > .btn-gradient {
  margin-top: 45px;
}

.about-text-author {
  max-width: 400px;
  position: relative;
  margin: 70px 0 0 90px;
}

.about-text-author img {
  position: absolute;
  top: -45px;
  left: -102px;
  max-width: 100%;
}

.about-text-author p {
  color: #0c0c0c;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 0.45px;
  font-weight: 600;
}

.about-text-author h3 {
  font-family: "Bernadette";
  font-size: 48px;
  color: #363636;
  letter-spacing: -1.58px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

/* Features */

.features {
  height: 719px;
}

.features-imgs-bg {
  background: url(../img/af-img-1.png) 0% 0% no-repeat,
              url(../img/af-img-2.png) 100% 0% no-repeat,
              url(../img/af-img-3.png) 0% 100% no-repeat,
              url(../img/af-img-4.png) 100% 100% no-repeat;
  background-size: 49%;
  height: 719px;
  margin-top: 120px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.features-block {
  background-color: #fff;
  max-width: 727px;
  max-height: 377px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  text-align: center;
  padding: 35px;
}

.features-block h2 {
  font-family: "Bernadette";
  color: #363636;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
}

.features-block p {
  color: #0c0c0c;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin-top: 20px;
  font-weight: 600;
}

.features-block > .btn-gradient {
  margin-top: 40px;
}


/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  /* Главное меню */
.menu {
  margin-right: 10px;
  padding-left: 0;
}
  /* УТП */
.offer h1 {
  font-size: 95px;
}
.offer h3 {
  font-size: 34px;
}
  /* offer block */
.offer-block {
  height: 394px;
}
  /* About Us */
.about {
  background-size: 300px;
  background-position: 53% 85%;
}
  /* Features */
.features {
  height: 602px;
}
.features-imgs-bg {
  height: 602px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /* Главное меню */
.menu {
  display: none;
}
.menu a {
  padding: 10px;
}
.menu a:hover {
  background-color: #fff;
  color: #090909;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
}
.humburger {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
}
.humburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  width: 35px;
  height: 3px;
  background-color: #fff;
}
.humburger span::before, .humburger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -18px;
  width: 35px;
  height: 3px;
  background-color: #fff;
}
.humburger span::before, .humburger span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.humburger span::before {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}
.humburger span::after {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.hum-active span {
  height: 0;
}
.hum-active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hum-active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
  /* УТП */
.offer {
  margin-top: 100px;
}
.offer h1 {
  font-size: 91px;
}
.offer h3 {
  font-size: 30px;
}
  /* offer block */
.offer-block {
  height: 415px;
  margin-bottom: 45px;
}
  /* About Us */
.about {
  background: none;
  margin-top: 30px;
}
.about-text-author {
  margin: 70px 0 0 50px;
}
.about-text-author img {
  width: 61px;
  top: -28px;
  left: -68px;
}
.about-text-author p {
  line-height: 1.5;
}
  /* Features */
.features {
  height: 448px;
}
.features-imgs-bg {
  height: 448px;
}
.features-block {
  max-width: 555px;
}
.features-block h2 {
  font-size: 43px;
}
.features-block p {
  font-size: 16px;
  line-height: 1.5;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* Главное меню */
.menu li {
  margin-left: 0;
}
  /* УТП */
.offer  {
  margin-top: 65px;
}
.offer h1 {
  font-size: 70px;
}
  /* offer block */
.offer-block {
  max-width: 372px;
  height: 439px;
  bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}
  /* About Us */
.about {
  margin-top: 10px;
  height: 750px;
}
.about-text h2 {
  font-size: 45px;
}
.about-text p {
  font-size: 16px;
}
.about-text-author h3 {
  font-size: 44px;
}
.about-text-author {
  margin: 70px 0 0 58px;
}
.about-text > .btn-gradient {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
  /* Features */
.features-block {
  max-height: 280px;
  padding: 20px;
}
.features-block h2 {
  font-size: 38px;
}
.features-block p {
  font-size: 15px;
}
.features-block > .btn-gradient {
  margin-top: 15px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /* Главное меню */
.logo {
  margin-left: 20px;
}
  /* УТП */
.offer h1 {
  font-size: 48px;
}
.offer h3 {
  font-size: 20px;
}
.offer p {
  margin-top: 30px;
  font-size: 14px;
}
  /* About Us */
.about {
  height: 815px;
}
.about-text h2 {
  font-size: 35px;
}
.about-text p {
  font-size: 16px;
}
.about-text-author {
  margin: 70px 0 0 55px;
}
.about-text-author img {
  max-width: 45px;
  left: -57px;
  top: -14px;
}
.about-text-author p {
  font-size: 16px;
}
.about-text-author h3 {
  font-size: 40px;
}
/* Features */
.features-block h2 {
  font-size: 32px;
}
.features-block p {
  font-size: 12px;
  margin: 10px 0 0 0;
}
.features-block > .btn-gradient {
  margin-top: 25px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* Главное меню */
.logo {
  margin-left: 10px;
}
  /* УТП */
.offer {
  margin-top: 40px;
}
.offer h3 {
  font-size: 18px;
}
.offer p {
  margin-top: 20px;
  font-size: 12px;
}
  /* About Us */
.about-text-author {
  margin: 70px 0 0 0px;
}
.about-text-author img {
  top: -30px;
  left: 0;
  max-width: 33px;
}
.about-text-author h3 {
  font-size: 40px;
}

}