* {
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 7000px;
}

/* Кнопки */

.btn-white {
  display: inline-block;
  color: #090909;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 10px 25px;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  transition: 0.2s;
  border: 1px solid #fff;
}

.btn-white:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.btn-gradient {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 10px 25px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #c88043 0%, #465296 100%);
  text-decoration: none;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  transition: 0.2s;
  position: relative;
  bottom: 20px;
}

.btn-gradient:hover {
  color: #c7c7c7;
  text-decoration: none;
}

/* Шапка */
header {
  min-height: 1126px;
  background-color: #aa9a92;
  background: url(../img/bg-header.png) no-repeat top center;
}

/* Главное меню */
.logo {
  margin: 25px 0 0 55px;
}

.humburger {
  display: none;
}

.menu {
  list-style: none;
  text-align: right;
  margin: 45px 65px 0 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

.menu a:hover {
  color: #c7c7c7;
}

.active {
  display: block !important;
}

/* УТП */

.offer {
  text-align: center;
  margin: 160px 0 0 0;
}

.offer h1 {
  font-family: 'Bernadette';
  color: #ffffff;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -1.85px;
}

.offer h3 {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.61px;
  margin: 10px 0 0 0;
  font-size: 37px;
}

.offer p {
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 40px 0 0 0;
}

.offer a {
  margin: 40px 0 0 0;
}

/* offer blocks */

.offer-blocks {
  margin: 90px 0 0 0;
}

.offer-block {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  position: relative;
  background-color: #ffffff;
  height: 426px;
}

.offer-block img {
  max-width: 100%;
}

.offer-block h3 {
  margin: 27px 0 0 0;
  color: #363635;
  font-weight: 700;
  letter-spacing: 0.61px;
  font-size: 25px;
}

.offer-block p {
  margin: 30px auto 45px auto;
  color: #0c0c0c;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  max-width: 256px;

}

/* About Us */

.about {
  height: 518px;
  background: url(../img/about-bg.png) no-repeat center;
  margin-top: 120px;
}

.about-text {
  max-width: 400px;
}

.about-text h2 {
  font-family: "Bernadette";
  font-size: 50px;
  letter-spacing: -1.58px;
}

.about-text p {
  font-size: 18px;
  color: #0c0c0c;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin: 30px 0 0px 0;
}

.about-text > .btn-gradient {
  margin-top: 45px;
}

.about-text-author {
  max-width: 400px;
  position: relative;
  margin: 70px 0 0 90px;
}

.about-text-author img {
  position: absolute;
  top: -45px;
  left: -102px;
  max-width: 100%;
}

.about-text-author p {
  color: #0c0c0c;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 0.45px;
  font-weight: 600;
}

.about-text-author h3 {
  font-family: "Bernadette";
  font-size: 48px;
  color: #363636;
  letter-spacing: -1.58px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

/* Features */

.features {
  height: 790px;
}

.features-imgs-bg {
  background: url(../img/af-img-1.png) 0% 0% no-repeat,
              url(../img/af-img-2.png) 100% 0% no-repeat,
              url(../img/af-img-3.png) 0% 100% no-repeat,
              url(../img/af-img-4.png) 100% 100% no-repeat;
  background-size: 49%;
  height: 719px;
  margin-top: 120px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.features-block {
  background-color: #fff;
  max-width: 727px;
  max-height: 377px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  text-align: center;
  padding: 35px;
}

.features-block h2 {
  font-family: "Bernadette";
  color: #363636;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
}

.features-block p {
  color: #0c0c0c;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin-top: 20px;
  font-weight: 600;
}

.features-block > .btn-gradient {
  margin-top: 40px;
}

/* Services */

.services {
  min-height: 636px;
  background: url(../img/services-bg.jpg) no-repeat #f4f4f4;
  background-position-x: 103.8%;
}

.services-text {
  max-width: 400px;
  margin-top: 85px;
}

.services-text h2 {
  font-family: "Bernadette";
  font-size: 50px;
  letter-spacing: -1.58px;
}

.services-text p {
  font-size: 18px;
  color: #0c0c0c;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin: 30px 0 0px 0;
}

.services-text > .btn-gradient {
  margin-top: 45px;
}

.services-block {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #646464;
  background-image: linear-gradient(-225deg, #c88043 0%, #465296 100%);
  width: 355px;
  height: 473px;
  margin-top: 90px;
  padding: 25px 20px;
}

.services-block table {
  border-collapse: collapse;
  border: 1px solid transparent;
}

.services-block td {
  border: 1px dashed #c7c7c7;
}

.services-icon {
  text-align: center;
  width: 153px;
  height: 137px;
  padding: 17px 24px;
}

.services-icon a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.42px;
  text-decoration: none;
  font-weight: 900;
  margin-top: 10px;
  transition: 0.2s;
}

.services-icon a:hover {
  color: #c7c7c7;
}

/* Team */

.team {
  padding-bottom: 120px;
}

.team-text {
  text-align: center;
}

.team-text h2 {
  margin-top: 100px;
  font-family: "Bernadette";
  color: #363636;
  font-size: 50px;
  letter-spacing: -1.58px;
}

.team-text p {
  margin-top: 45px;
  color: #343434;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
}

.team-face-blocks {
  margin-top: 160px;
  background-color: #f4511e;
  max-height: 250px;
  text-align: center;
  padding: 0 50px;
  display: flex; /* flex*/
  justify-content: space-around;
}

.team-face-block {
  position: relative;
  top: -100px;
  flex-basis: 170px;
  border: 1px solid red;
  transition: 0.2s;
}

.team-face-block:hover {
  cursor: pointer;
}

.team-face-block img {
  max-width: 100%;
}

.team-face-block h3 {
  margin-top: 30px;
  color: #363635;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.61px;
}

.team-face-block p {
  margin-top: -15px;
  color: #a2a2a2;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.5px;
}
/* Team card */
.team-face-card {
  margin-top: 65px;
}

.team-face-card-text h3 {
  margin-top: 50px;
  color: #363636;
  font-size: 65px;
  font-family: "Bernadette";
  font-weight: 400;
  letter-spacing: -1.58px;
  margin-bottom: -5px;
}

.team-face-card-text h4 {
  color: #505050;
  font-size: 22px;
  font-weight: 700;
  line-height: 33.29px;
  letter-spacing: 0.5px;
}

.team-face-card-text p {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.45px;
  margin: 32px 0 70px 0;
  max-width: 462px;
}

.team-face-card-progress {
  max-width: 484px;
  margin-top: 40px;
}

.team-face-card-progress .progress {
  height: 14px;
  border-radius: 7px;
  overflow: visible;
  margin-top: 28px;
  background-color: #dfdfdf;
  position: relative;
}

.team-face-card-progress .progress-bar {
  background-color: #e6a32f;
  background-image: linear-gradient(to right, #c88043 0%, #465296 100%);
  border-radius: 7px;
  position: relative;
  top: -14px;
}

.team-face-card-progress .progress span {
  color: #363635;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.61px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -35px;
}

.team-face-card-progress h5 {
  color: #363635;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.61px;
}

.team-face-card-contacts {
  display: flex;
}

.team-face-card-contacts-socials {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #aa9a92;
  background-image: linear-gradient(-225deg, #c88043 0%, #465296 100%);
  padding: 65px 25px 65px 30px;
}

.team-face-card-contacts-socials p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.37px;
}

.team-face-card-contacts-socials-block {
  position: relative;
  bottom: -450px;
}

.team-face-card-contacts-socials-block ul {
  list-style: none;
  padding-left: 0;
}

.team-face-card-contacts-socials-block ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}

.team-face-card-contacts-socials-block ul li:first-child {
  margin-left: 0;
}

.team-face-card-contacts-socials-block a {
  color: #000;
  font-size: 33px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
}

.team-face-card-contacts-socials-block a i {
  transition: 0s;
}

.team-face-card-contacts-socials-block a:hover {
  background-color: transparent;
  color: #ffffff;
}

/* Price */

.price {
  display: flex; /* flex */
  background-color: #f4f4f4;
  height: 785px;
}

.price-left-bg {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #aa9a92;
  background-image: linear-gradient(-225deg, #c88043 0%, #465296 100%);
  width: 565px;
  height: 100%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.price-block-l {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  max-width: 380px;
  text-align: center;
  padding: 0 50px 70px 50px;
  max-height: 585px;
}

.price-block-l h3 {
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
  color: #363636;
  margin: 60px 0 0 0;
}

.price-block-l h4 {
  font-size: 20px;
  color: #363635;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.price-num {
  display: table;
  font-family: 'MyriadPro-BlackCond';
  background-image: linear-gradient(-225deg, #c88043 0%, #465296 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  color: #363635;
  font-size: 107px;
  font-weight: 900;
  margin: 0 auto;
}

.price-num span:nth-child(1) {
  font-size: 72px;
  letter-spacing: -0.83px;
}

.price-num span:nth-child(2) {
  letter-spacing: -1.23px;
}

.price-num span:nth-child(3) {
  font-size: 71px;
  letter-spacing: -0.81px;
}

.price-block-l h5 {
  color: #363635;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.61px;
}

.price-block-l p {
  color: #0c0c0c;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.45px;
}

.price-right-bg {
  display: flex;
  align-items: center;
}

.price-block-r {
  width: 380px;
  max-height: 585px;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  background-color: #aa9a92;
  background-image: linear-gradient(-225deg, #c88043 0%, #465296 100%);
  text-align: center;
  color: #ffffff;
  padding-bottom: 46px;
}

.price-block-r h3 {
  font-family: 'MyriadPro-BlackCond';
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.83px;
  margin-top: 100px;
}

.price-block-r h4 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.61px;
  margin-top: -20px;
}

.price-block-r ul {
  margin: 30px 0 0 35px;
  text-align: left;
  list-style: none;
}

.price-block-r li {
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-top: 15px;
  padding-left: 20px;
  position: relative;
}

.price-block-r li::before {
  content: "\f00c";
  position: absolute;
  top: 0;
  left: -10px;
  font-family: 'FontAwesome';
}

.price-block-r li:first-child {
  margin-top: 0;
}

.price-block-r a {
  margin-top: 40px;
}

.price-block-text {
  max-width: 480px;
  margin-left: 70px;
}

.price-block-text h2 {
  color: #363636;
  font-family: "Bernadette";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
}

.price-block-text p {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 40px;
  letter-spacing: 0.45px;
  padding-right: 10px;
}

.price-block-text p strong {
  font-weight: 700;
  letter-spacing: 0.45px;
}

/* Get in Touch */

.touch {
  background: url(../img/bg-touch.png) no-repeat center;
  height: 390px;
  text-align: center;
  padding: 10px;
}

.touch h2 {
  font-family: "Bernadette";
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.58px;
  margin-top: 80px;
  display: inline-block;
}

.touch-links ul {
  list-style: none;
}

.touch-links li {
  display: inline-block;
  margin: 70px 0 0 50px;
}

.touch-links li:first-child {
  margin-left: 0;
}

.touch-links i {
  transition: 0s;
}
.touch-links a {
  color: #ffffff;
  font-size: 36px;
  display: inline-block;
  padding: 10px;
  width: 82px;
  height: 82px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.touch-links a:hover {
  background-color: #fff;
  color: #2b2929;
}


/* Footer */

footer {
  padding: 90px 0 40px 0;
}

.footer-block .mr-3 {
  margin-right: 28px!important;
}

.footer-block h5 {
  font-size: 17px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: -5px!important;
}

.footer-block a {
  color: #4a4a4a;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: -3px 0 3px 0;
  display: block;
}

.footer-block a:hover {
  text-decoration: none;
  font-weight: 700;
}

.dev {
  margin-top: 80px;
}

.dev p {
  display: inline-block;
  font-size: 17px;
  color: #333333;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.dev a {
  color: #333333;
}

.dev a:hover {
  text-decoration: none;
  font-weight: 900;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  /* Главное меню */
.menu {
  margin-right: 10px;
  padding-left: 0;
}
  /* УТП */
.offer h1 {
  font-size: 95px;
}
.offer h3 {
  font-size: 34px;
}
  /* offer block */
.offer-block {
  height: 394px;
}
  /* About Us */
.about {
  background: none;
}
  /* Features */
.features {
  height: 672px;
}
.features-imgs-bg {
  height: 602px;
}
  /* Services */
.services {
  background-position-x: 190.8%;
}
  /* Team */
.team-face-blocks {
  max-height: 220px;
}
.team-face-block {
  top: -65px;
}
.team-face-block {
  flex-basis: 130px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /* Главное меню */
.menu {
  display: none;
}
.menu a {
  padding: 10px;
}
.menu a:hover {
  background-color: #fff;
  color: #090909;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
}
.humburger {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
}
.humburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  width: 35px;
  height: 3px;
  background-color: #fff;
}
.humburger span::before, .humburger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -18px;
  width: 35px;
  height: 3px;
  background-color: #fff;
}
.humburger span::before, .humburger span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.humburger span::before {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}
.humburger span::after {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.hum-active span {
  height: 0;
}
.hum-active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hum-active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
  /* УТП */
.offer {
  margin-top: 100px;
}
.offer h1 {
  font-size: 91px;
}
.offer h3 {
  font-size: 30px;
}
  /* offer block */
.offer-block {
  height: 415px;
  margin-bottom: 45px;
}
  /* About Us */
.about {
  margin-top: 30px;
}
.about-text-author {
  margin: 70px 0 0 50px;
}
.about-text-author img {
  width: 61px;
  top: -28px;
  left: -68px;
}
.about-text-author p {
  line-height: 1.5;
}
  /* Features */
.features {
  height: 518px;
}
.features-imgs-bg {
  height: 448px;
}
.features-block {
  max-width: 555px;
}
.features-block h2 {
  font-size: 43px;
}
.features-block p {
  font-size: 16px;
  line-height: 1.5;
}
  /* Services */
.services {
  background-image: none;
}
  /* Team */
.team-text h2 {
  margin-top: 80px;
}
.team-text p {
  font-size: 16px;
}
.team-face-blocks {
  flex-wrap: wrap;
}

/* Get in Touch */
.touch h2 {
  margin-top: 70px;
}
.touch-links ul {
  padding: 0;
}
.touch-links li {
  margin: 50px 0 0 25px;
}
.touch-links a {
  width: 72px;
  height: 72px;
  font-size: 30px;
}
/* Footer */
.footer-block .mr-3 {
  width: 36px;
  margin-right: 15px!important;
}
.footer-block .fb-ph {
  width: 24px;
}
.footer-block h5 {
  font-size: 14px;
}
.footer-block a {
  font-size: 13px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* Главное меню */
.menu li {
  margin-left: 0;
}
  /* УТП */
.offer  {
  margin-top: 65px;
}
.offer h1 {
  font-size: 70px;
}
  /* offer block */
.offer-block {
  max-width: 372px;
  height: 439px;
  bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}
  /* About Us */
.about {
  margin-top: 10px;
  height: 750px;
}
.about-text h2 {
  font-size: 45px;
}
.about-text p {
  font-size: 16px;
}
.about-text-author h3 {
  font-size: 44px;
}
.about-text-author {
  margin: 70px 0 0 58px;
}
.about-text > .btn-gradient {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
  /* Features */
.features-block {
  max-height: 280px;
  padding: 20px;
}
.features-block h2 {
  font-size: 38px;
}
.features-block p {
  font-size: 15px;
}
.features-block > .btn-gradient {
  margin-top: 15px;
}
  /* Services */
.services-text h2 {
  font-size: 45px;
}
.services-text p {
  font-size: 16px;
}
.services-text > .btn-gradient {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.services-block {
  margin: 35px 0 35px 0;
}
  /* Team */
/* Get in Touch */
.touch h2 {
  font-size: 44px;
}
.touch-links li {
  margin: 32px 0 0 17px;
}
/* Footer */
footer {
  padding-top: 60px;
}
.footer-block {
  margin-top: 30px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /* Главное меню */
.logo {
  margin-left: 20px;
}
  /* УТП */
.offer h1 {
  font-size: 48px;
}
.offer h3 {
  font-size: 20px;
}
.offer p {
  margin-top: 30px;
  font-size: 14px;
}
  /* About Us */
.about {
  height: 815px;
}
.about-text h2 {
  font-size: 35px;
}
.about-text p {
  font-size: 16px;
}
.about-text-author {
  margin: 70px 0 0 55px;
}
.about-text-author img {
  max-width: 45px;
  left: -57px;
  top: -14px;
}
.about-text-author p {
  font-size: 16px;
}
.about-text-author h3 {
  font-size: 40px;
}
/* Features */
.features-block h2 {
  font-size: 32px;
}
.features-block p {
  font-size: 12px;
  margin: 10px 0 0 0;
}
.features-block > .btn-gradient {
  margin-top: 25px;
}
  /* Services */
.services-text h2 {
  font-size: 35px;
}
.services-text p {
  font-size: 16px;
}
  .services-block {
    max-width: 289px;
  }
  .services-icon {
    padding: 10px 13px;
    width: 118px;
  }
  .services-icon a {
    font-size: 15px;
  }
  /* Team */
.team-text h2 {
  font-size: 36px;
  margin-top: 55px;
}
.team-text p {
  line-height: 1.5;
  margin-top: 30px;
}
/* .team-face-block {
  margin-left: 10px;
}
.team-face-block img {
  max-width: 130px;
}
.team-face-block h3 {
  margin-top: 15px;
  font-size: 20px;
}
.team-face-block p {
  margin-top: -10px;
  font-size: 14px;
} */

/* Get in Touch */
.touch h2 {
  margin-top: 41px;
}
.touch-links li {
  margin: 17px 0 0 17px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* Главное меню */
.logo {
  margin-left: 10px;
}
  /* УТП */
.offer {
  margin-top: 40px;
}
.offer h3 {
  font-size: 18px;
}
.offer p {
  margin-top: 20px;
  font-size: 12px;
}
  /* About Us */
.about-text-author {
  margin: 70px 0 0 0px;
}
.about-text-author img {
  top: -30px;
  left: 0;
  max-width: 33px;
}
.about-text-author h3 {
  font-size: 40px;
}

}